@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés pour la scrollbar Firefox */
#chat-messages {
    scrollbar-width: thin;
    scrollbar-color: #FF2E9F transparent;
}

/* Styles personnalisés pour la scrollbar WebKit (Chrome, Safari, etc.) */
#chat-messages::-webkit-scrollbar {
    width: 2px;
}

#chat-messages::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

#chat-messages::-webkit-scrollbar-thumb {
    background: #FF2E9F;
    border-radius: 9999px;
    box-shadow: 0 0 5px #FF2E9F;
}

/* Effet de clignotement pour les éléments */
@keyframes blink {
    0%, 100% { opacity: 1; }
    20% { opacity: 0; }
}

.animate-blink {
    animation: blink 0.5s infinite;
}

